{erl_opts, [ warnings_as_errors ]}.

{deps, [
    {ecall, {git, "https://github.com/vzroman/ecall.git", {branch, "main"}}}
]}.

{relx,[
    {release, { esubscribe , "0.0.1"},[
        kernel,
        stdlib,
        sasl,
        esubscribe
    ]},
    {include_erts, false},
    {vm_args, "./config/vm.args"},
    {sys_config, "./config/sys.config"},
    {extended_start_script, true}
]}.